/* Universal Styling */
* {
  box-sizing: border-box;
}

/* General CSS */
body {
  margin: 0;
  padding-left: 96px;
  padding-right: 24px;
  padding-top: 80px;
  background-color: rgb(248, 248, 248);
}

p {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.thumbnail-1 {
  width: 100%;
}

/* Header Section */
.header {
  background-color: rgb(245, 245, 245);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(220, 220, 220);
  height: 57px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
}

.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 24px;
  margin: 0 25px;
  cursor: pointer;
}

.youtube-logo {
  height: 20px;
  cursor: pointer;
}

.middle-section {
  display: flex;
  align-items: center;
  flex: 1;
  margin: 0 35px 0 70px;
  max-width: 500px;
}

.search-bar {
  flex: 1;
  height: 40px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  padding: 0 0 0 10px;
  width: 0;
}

.search-bar::placeholder {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  padding: 0 0 0 12px;
}

.search-btn {
  cursor: pointer;
  height: 40px;
  width: 64px;
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  margin-left: -1px;
  position: relative;
}

.search-btn,
.voice-search-btn,
.upload-icon-container,
.youtube-apps-container,
.notifications-icon-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.search-btn .tooltip,
.voice-search-btn .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-container .tooltip,
.notifications-icon-container .tooltip {
  font-family: Roboto, Arial, sans-serif;
  position: absolute;
  bottom: -30px;
  background-color: rgb(145, 143, 143);
  color: #fff;
  padding: 4px 8px;
  border-radius: 2px;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.15s ease;
  pointer-events: none;
  white-space: nowrap;
}

.search-btn:hover .tooltip,
.voice-search-btn:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-container:hover .tooltip,
.notifications-icon-container:hover .tooltip {
  opacity: 1;
}

.search-icon {
  height: 25px;
}

.voice-search-btn {
  height: 40px;
  width: 40px;
  margin-left: 10px;
  border-radius: 20px;
  border: none;
  background-color: rgb(238, 238, 238);
}

.voice-search-icon {
  cursor: pointer;
  height: 24px;
}

.right-section {
  width: 180px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.upload-icon,
.youtube-apps-icon,
.notifications-icon {
  height: 24px;
  cursor: pointer;
}

.notifications-icon-container {
  position: relative;
}

.notifications-count {
  position: absolute;
  top: -2px;
  right: -5px;
  background-color: rgb(200, 0, 0);
  color: #fff;
  font-family: Roboto, Arial;
  font-size: 11px;
  padding: 2px 5px;
  border-radius: 10px;
}

.current-user-picture {
  height: 32px;
  border-radius: 16px;
  cursor: pointer;
}

/* Sidebar Section */
.sidebar {
  background-color: #f5f5f5;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 56px;
  width: 72px;
  z-index: 2000;
  padding-top: 5px;
}

.sidebar-link {
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.sidebar-link:hover {
  background-color: rgb(235, 235, 235);
}

.sidebar-link img {
  height: 25px;
  margin-bottom: 4px;
}

.sidebar-link div {
  font-family: Roboto, Arial, sans-serif;
  font-size: 10px;
}

/* Video Section */
.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

.video-title {
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2em;
}

.video-title-link {
  text-decoration: none;
  color: #000;
}

.channel-link {
  text-decoration: none;
  text-decoration-color: rgb(96, 96, 96);
  color: rgb(96, 96, 96);
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-pic {
  cursor: pointer;
  width: 36px;
  border-radius: 50px;
}

.video-thumbnail {
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
}

.video-time {
  font-family: Roboto, Arial;
  font-size: 12px;
  font-weight: 500;
  padding: 4px 4px;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  position: absolute;
  right: 5px;
  bottom: 8px;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  cursor: pointer;
  margin-bottom: 3px;
}

/* ToolTip CSS for Video Section */


