/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Russo+One&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/* Universal Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Defaults */
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: #f5f5f5;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 1.25rem;
  height: 2000px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  margin: 0 20px;
}

/* General CSS */
a {
  text-decoration: none;
  color: #888;
  transition: color 0.5s ease;
}

a:hover {
  color: #222;
  text-decoration: underline;
}

/* Nav Section */
.nav-container {
  background-color: rgb(240, 240, 240);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  margin-bottom: 30px;
  gap: 30px;
  position: fixed;
  left: 20px;
  right: 20px;
  top: 0;
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
  z-index: 2000;
}

.nav-container__links {
  font-family: 'Source Code Pro', monospace;
  font-weight: 550;
}

/* Main Section */
main {
  min-height: calc(50vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 70px;
  box-sizing: border-box;
}

.title--text {
  font-size: 1.75rem;
  font-weight: 600;
  color: #222;
  margin-bottom: 20px;
}

.btn--subscribe {
  border: none;
  background-color: #111;
  color: #fff;
  padding: 10px 20px;
  font-weight: 550;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 30px;
  transition: background-color 0.3s ease, transform 0.15s ease;
}

.btn--subscribe:hover {
  transform: translateY(-1px);
}

.btn--subscribe:active {
  transform: translateY(0);
}

/* Subscribed State */
.is-subscribed {
  background-color: rgb(221, 220, 220);
  color: #000;
}
